{% extends 'base.html.twig' %}

{% block title %}Hello CaisseController!{% endblock %}

{% block body %}
{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}


 {% if commandes != null %}
        
        <h3 class="text-center text-muted mt-5">Caisse</h3> 
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Produit</th>
                
                <th scope="col">Quantité</th>
                <th scope="col">Prix Unitaire</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>

                </tr>
            </thead>
        <tbody>

         {% for command in commandes %}

            {% for com in command.commande %}
                
                     {% set total = 0 %}

            
            {% if com.servi == true %}
            



            <tr class="table-active">
            <th scope="row">{{com.nomPlat}}</th>

            <td>{{com.prix}}</td>
            <td>
                {{com.quantity}}
            </td>

            </tr>

            {% set tot = com.quantity * com.prix %}
            {% set total = total + tot %}

            {% endif %}
         {% endfor %}
        {% endfor %}
        </tbody>
        <tfoot>
                <tr>

                <td colspan="3" class="text-right">TOTAL :</td>
                <td colspan="3">{{total}} FCFA
                </td>


                </tr>
                <tr>
                                    <td colspan="3" class="text-right"><a href="{{path('app_commander')}}"><button class="btn-primary btn-lg">COMMANDER</button></a></td>

                </tr>

        </tfoot>
        </table>
  {% else %}
              <h3 class="text-center text-muted mt-5">VOTRE PANIER EST VIDE</h3> 

  {% endif %}
        

{% endblock %}

{% endblock %}
