{% extends 'base.html.twig' %}

{% block title %}BIENVENUE AU Restaurant {{resto.nom}}{% endblock %}

{% block body %}

<pre>
      {{ dump(table) }}
</pre>

<div class="mx-auto ml-100">
<p class="row justify-content-center">
<img src="{{ (resto.imageName ? vich_uploader_asset(resto,'imageFile') : asset('build/images/logo.jpg'))  }}"
      alt="{{resto.nom}} " width="400" class="mt-5 "/></p>
<p >
 <h2 class='text-center'>   <p> BIENVENUE A {{resto.nom}} </p>
     <p>SPECIALITE:{{resto.specialite}}</p>
</h2>

</p>
     

{% endif %}







{% endblock %}

