{% extends 'base.html.twig' %}

{% block title %}BIENVENUE AU Restaurant {{resto.nom}}{% endblock %}

{% block body %}


 

<div class="jumbotron">
    
    <div class="col-md-8 mx-auto mt-2">
    <img src="{{ (resto.imageName ? vich_uploader_asset(resto,'imageFile') : asset('build/images/logo.jpg')) | imagine_filter('images_medium') }}"
     class="w-100 rounded-top"  alt="{{resto.nom}} " width="200"/>
    <h4 class='mx-auto'>BIENVENUE AU RESTAURANT {{resto.nom}} </br> vous êtes assis à la table {{table.numero}}</h4>
   <span class="mx-auto"> <button class="btn-lg btn-primary">INFOS</button>  <a href="{{ path('customer_home_menu',{'restaurant':resto.id,'table':table.numero} )}}"><button class="btn-lg btn-primary">MENU </button></a> </span>
</div>

</div>



{% endblock %}

