{% extends 'base.html.twig' %}

{% block title %}BIENVENUE AU Restaurant {{resto.nom}}{% endblock %}

{% block body %}

{% if table == null %}

<div class="jumbotron">
		<h1 class="mx-auto text-center text-danger">Mauvais identifiant de de table.<BR>Veuillez re-Scanner le code Qr<BR>Si le problème persist veuillez contacter la direction
      </h1>
</div>

{% else %}
      




<div class="mx-auto ml-100">
<p class="row justify-content-center">
<img src="{{ (resto.imageName ? vich_uploader_asset(resto,'imageFile') : asset('build/images/logo.jpg'))  }}"
      alt="{{resto.nom}} " width="400" class="mt-5 "/></p>
<p >
 <h2 class='text-center'>   <p> BIENVENUE A {{resto.nom}} </p>
    <p>VOUS ÊTES ASSIS A LA TABLE {{table.numero}}</p>
     <p>SPECIALITE:{{resto.specialite|upper}}</p>
</h2>

</p>
     {% if table.reserved == true and table.reserved != null %}
            <div class="jumbotron">
		<h3 class="mx-auto text-center text-danger">DESOLÉ CETTE TABLE EST DÉJA RÉSERVÉE...VEUILLEZ SVP CHANGER DE TABLE.<BR>CORDIALEMENT<BR>LA DIRECTION</h3>
            <hr>
            <h3 class="text-center mx-auto text-primary">Si vous avez reservé la table entrez le code de reservation
            <div class="col-md-6">
            {{form_start(codeForm)}}
                {{form_row(codeForm.codeReservation, {'attr' : {'placeholder':'Code de reservation'}}) }}
                
                <button type="submit" class="btn btn-primary btn-lg"> 
                
                    Valider
                </button>
            
            {{form_end(codeForm)}}</div>
                  </h3>
            </div>
     {% endif %}
     

	
<div>
{% if table.reserved == false %}
<div class="liens">
        <span class="row justify-content-center mb-5" >
          <a href="{{ path('app_infoRestaurant_customer',{'restaurant':resto.id} )}}"> <button class=" btn-secondary btn-lg">INFOS RESTAURANT</button> </a>
         <a href="{{ path('customer_home_menu',{'restaurant':resto.id,'table':table.numero} )}}"><button class="btn-lg btn-primary">MENU RESTAURANT</button></a> </span>
</div>
 


{% endif %}
{% endif %}






{% endblock %}

