{% extends 'base.html.twig' %}

{% block title %}INFORMATIONS {{restaurant.nom}}{% endblock %}

{% block body %}
 

 <div class="row ">   

    <div class="col-md-6 mt-5">
    <img src="{{ (restaurant.imageName ? vich_uploader_asset(restaurant,'imageFile') : asset('build/images/logo.jpg')) | imagine_filter('images_medium') }}"
      alt="{{restaurant.nom}} "  class="center-block" />
     </div>
     <div class="col-md-6 mt-5"> 
    <h1 class="text-primary">BIENVENUE A "{{restaurant.nom}}"</h1>
    <h1 class="text-primary"> {{restaurant.specialite}} </h1>
    <h1 class="text-primary"> {{restaurant.localisation}} </h1>

    </div>

 </div>
 
{% endblock %}