{% extends "base.html.twig" %}

{% block title %}Creer un restaurant{% endblock %}

{% block body %}
    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            <h1>Creer un restaurant </h1>
            {{form_start(createResto)}}
                {{form_row(createResto.nom, {'attr' : {'placeholder':'Nom du restaurant'}}) }}
                {{form_row(createResto.specialité, {'attr' : {'placeholder':'specialite'}}) }}
                {{form_row(createResto.localisation), {'attr' : {'placeholder':'localisation'}}) }} }}

                <button class="btn btn-primary btn-block"> 
                {% if editMode %}  
                    Modifier le pin
                {% else %}
                    Ajouter un pin
                {% endif %}
                </button>
            
            {{form_end(createPin)}}
        </div>
    </div>

{% endblock %}