{% extends "base.html.twig" %}

{% block title %}Modifier les informations du restaurant{% endblock %}


{% block body %}
    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            <h4>Modifier les informations </br> en le remplacants dans les champs </h4>
            {{form_start(createResto)}}
                {{form_row(createResto.nom, {'attr' : {'placeholder':'Nom du restaurant'}}) }}
                {{form_row(createResto.specialite, {'attr' : {'placeholder':'specialite'}}) }}
                {{form_row(createResto.localisation, {'attr' : {'placeholder':'localisation'}}) }} 

                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Mettre à jour
             
                </button>
            
            {{form_end(createResto)}}
            <button class="btn btn-danger ">Supprimer Ce restaurant </button>
        </div>
        
    </div>

{% endblock %}