{% extends "base.html.twig" %}

{% block title %}Modifier les informations du restaurant{% endblock %}


{% block body %}
    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            <h4>Modifier les informations </br> en le remplacants dans les champs </h4>
            {{form_start(createResto)}}
                {{form_row(createResto.nom, {'attr' : {'placeholder':'Nom du restaurant'}}) }}
                {{form_row(createResto.specialite, {'attr' : {'placeholder':'specialite'}}) }}
                {{form_row(createResto.localisation, {'attr' : {'placeholder':'localisation'}}) }} 

                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Mettre à jour
             
                </button>
            
            {{form_end(createResto)}}



                        <form id="js-pin-delete-form" action="{{ path('app_delete_restaurant' , {'id': restaurant.id }) }}" method="post" style="display:none;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" neme="csrf_token" value="{{ csrf_token('pins.deletion_' ~ restaurant.id)}}"
                        </form>

                                            <a href ="#" onclick="event.preventDefault(); confirm('Are you sure ') && document.getElementById('js-pin-delete-form').submit(); " class="btn btn-primary">    <button class="btn btn-danger btn-block  mt-3">Supprimer Ce restaurant </button>  </a>

        </div>
        
    </div>

{% endblock %}