{% extends "base.html.twig" %}

{% block title %}Modifier les informations du restaurant{% endblock %}


{% block body %}
            <div class="jumbotron">
            <h4 class="text-center text-uppercase">Modifier les informations  </h4>
            </div>
    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            {{form_start(createResto)}}
                {{form_row(createResto.nom, {'attr' : {'placeholder':'Nom du restaurant'}}) }}
                {{form_row(createResto.specialite, {'attr' : {'placeholder':'specialite'}}) }}
                {{form_row(createResto.localisation, {'attr' : {'placeholder':'localisation'}}) }} 
                {{form_row(createResto.telephone, {'attr' : {'placeholder':'Numero de telephone'}}) }}
                {{form_row(createResto.description, {'attr' : {'placeholder':'Décrivez votre restaurant'}}) }}
                {{form_row(createResto.twitter, {'attr' : {'placeholder':'lien twitter'}}) }}

        </div>

        <div class="col-md-6 mx-auto">        
                {{form_row(createResto.facebook, {'attr' : {'placeholder':'lien facebook'}}) }}
                {{form_row(createResto.instagram, {'attr' : {'placeholder':'lien instagram'}}) }}
                {{form_row(createResto.imageFile) }} 
            {{form_row(createResto.imagesRestos) }} 
        </div>  
                <button type="submit" class="btn btn-primary btn-lg ml-2"> 
                
                    Mettre à jour
             
                </button>
            
            {{form_end(createResto)}}
        </div>     

            <div class="col-md-12">

            <h3 class="text-center mt-4 text-underline mb-2">LES IMAGES DU RESTAURANT</h3>

                     <div class="text-content container"> 
                {% if image | length == 0 %}
                                        <h4 class="text-center"> Vous n'avez pas encore ajouter d'images à votre restaurant.</h4>
                {% else %}

                {% for row in restaurant.imagesRestos|batch(3) %}
    <div class="row mt-2 " >
       {% for img in row %}
        <div class="col-md-4 ml-7"> 
  
    
   
         <img src ="{{asset('/uploads/images_restaurants/' ~ img.name) | imagine_filter('images_medium')}} "  >
        <a href ="#" onclick="event.preventDefault(); confirm('Are you sure ') && document.getElementById('js-pin-delete-form').submit(); " class="btn btn-danger">Supprimer</a>
            
                            <form id="js-pin-delete-form" action="{{ path('images_delete_image' , {'id': img.id }) }}" method="post" style="display:none;">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('delete_' ~ img.id)}}">
                            </form>

        
    </div>
    

 {% endfor %}
 </div>
{% endfor %}
                    
                    
                       {% endif %}
                    
                       

   

{% endblock %}