{% extends "base.html.twig" %}

{% block title %}Modifier les informations du restaurant{% endblock %}


{% block body %}
 
    <div class="row">
       <div class="mt-10">
        <div class="col-md-4"> 
            
            <div class="card-body ">  
                <img src="{{ ( asset('build/images/images.jpg')) }}" width="300">
                <a href="{{path('app_edit_restaurant',{'id':restaurant.id} )}}"  <button type="button"class="btn btn-success btn-lg btn-block">Editer le restaurant</button></a>
            </div>
        </div>
            
        <div class="col-md-4"> 
            <div class="card-body">  
                <img src="{{ ( asset('build/images/menu2.jpg')) }}" width="300">
                <a href="{{path('app_edit_restaurant',{'id':restaurant.id} )}}"  <button type="button"class="btn btn-success btn-lg btn-block">Gerer le menu</button></a>
            </div>
        </div>
        
        <div class="col-md-4"> 
            <div class="card-body">  
                <img src="{{ ( asset('build/images/menu3.jpg')) }}"width="300" >
                <a href="{{path('app_edit_restaurant',{'id':restaurant.id} )}}"  <button type="button"class="btn btn-success btn-lg btn-block">Supprimer le restaurant</button></a>
            </div>
        </div>
    
    </div>
    </div>

{% endblock %}