{% extends "base.html.twig" %}

{% block title %}Modifier les informations du restaurant{% endblock %}


{% block body %}

          <div class="jumbotron">
            
            <div class="col-md-8 mx-auto mt-2">
            <h1 class='text-decoration-underline'>Gerer Mes Restaurants</h1>
        </div>

        </div>
        
    <div class="row mt-5">

          
            
        <div class="col-md-4 "> 
            
            <div class="card-body ">  
                <img src="{{ ( asset('build/images/images.jpg')) }}" width="300">
                <a href="{{path('app_edit_restaurant',{'id':restaurant.id} )}}"  <button type="button"class="btn btn-success btn-lg btn-block">Editer le restaurant</button></a>
            </div>
        </div>
            
        <div class="col-md-4"> 
            <div class="card-body">  
                <img src="{{ ( asset('build/images/menu2.jpg')) }}" width="300">
                <a href="{{path('app_gestion_menu',{'id':restaurant.id} )}}"  <button type="button"class="btn btn-success btn-lg btn-block">Gerer le menu</button></a>
            </div>
        </div>
        
        <div class="col-md-4"> 
            <div class="card-body">  
                <img src="{{ ( asset('build/images/menu3.jpg')) }}"width="300" >
                 <a href ="#" onclick="event.preventDefault(); confirm('Are you sure ') && document.getElementById('js-pin-delete-form').submit(); ">    <button class="btn btn-danger btn-block  mt-3">Supprimer Ce restaurant </button>  </a>
            </div>
        </div>

                        <form id="js-pin-delete-form" action="{{ path('app_delete_restaurant' , {'id': restaurant.id }) }}" method="post" style="display:none;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" neme="csrf_token" value="{{ csrf_token('pins.deletion_' ~ restaurant.id)}}"
                        </form>        
    </div>
    

{% endblock %}