{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block body %}


 

<div class="jumbotron">
    
    <div class="col-md-8 mx-auto mt-2">
    <h1 class='text-decoration-underline'>Mes Restaurants</h1>
  <a href="{{path('app_create_restaurant')}}" > <button class="btn btn-primary ">Ajouter Restaurant</button></a>
</div>

</div>

{% for row in restaurants|batch(3) %}
    <div class="row mt-2" >
       {% for restaurants in row %}
        <div class="col-md-4"> 
  
    
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">{{restaurants.nom}}</div>
    <div class="card-body">
         
        <h4 class="card-title">{{restaurants.specialite}}</h4>
        <p class="card-text">{{restaurants.localisation}}</p>
        
      <a href="{{path('app_edit_restaurant,{}')}}"  <button type="button"class="btn btn-success btn-lg btn-block">Editer</button>
    </div>
    </div>
    </div>

 {% endfor %}
 </div>
{% endfor %}

{% endblock %}

