{% extends "base.html.twig" %}

{% block title %}Creer un plat{% endblock %}

{% block body %}
    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            <h1>Creer un palt </h1>
            {{form_start(createResto)}}
                {{form_row(add.nom, {'attr' : {'placeholder':'Nom du restaurant'}}) }}
                {{form_row(createResto.specialite, {'attr' : {'placeholder':'specialite'}}) }}
                {{form_row(createResto.localisation, {'attr' : {'placeholder':'localisation'}}) }} 

                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Ajouter un restaurant
             
                </button>
            
            {{form_end(createResto)}}
        </div>
    </div>

{% endblock %}