{% extends "base.html.twig" %}

{% block title %}Creer un plat{% endblock %}

{% block body %}

<div class="jumbotron text-center text-uppercase">

{% if categorie.nom  == 'BOISSONS' or 'boissons' %}

                     <h1 >Ajouter une boisson dans {{categorie.nom}} </h1>

        {% else %}
            
             <h1>Ajouter un plat dans {{categorie.nom}} </h1>
           
        {% endif %}
</div>
    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
        
            {{form_start(AddPlatForm)}}
                {{form_row(AddPlatForm.nom, {'attr' : {'placeholder':'Nom du plat'}}) }}
                {{form_row(AddPlatForm.description, {'attr' : {'placeholder':'description'}}) }}
                {{form_row(AddPlatForm.prix, {'attr' : {'placeholder':'prix'}}) }} 
                {{form_row(AddPlatForm.imageFile ) }} 

                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Ajouter un plat
                </button>
            
            {{form_end(AddPlatForm)}}
        </div>

       <a href="{{path('plats_menu', {restaurant:restaurant,categorie:categorie})}}" ><button class="btn-lg btn-info">Retourner à la liste des plats</button></a>
    </div>

{% endblock %}