{% extends "base.html.twig" %}

{% block title %}Modifier les informations de la table numero  {{table.Numero}}  {% endblock %}


{% block body %}
    

    <div class="row  mt-5 text-center">
        <div class="col-md-6 mx-auto">
            <h2 class="mx-auto text-uppercase ">Ajouter un nom à votre table  </h2>
                
                <img  src="{{ ( asset('build/restaurant.'~ restaurant ~  '/' ~ table.codeQr )) }}" width="300" class="mx-auto mt-10 mb-10">

            {{form_start(createResto)}}
                {{form_row(createResto.nom, {'attr' : {'placeholder':'Nom de la table'}}) }}
                
                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Mettre à jour
             
                </button>

            
            
            {{form_end(createResto)}}
                          
                          </br>
               <button class="btn btn-secondary btn-block "> <a class="mt-10" href ="{{path('app_ajouter_tables',{'restaurant':table.restaurant.id} )}} "> Retourner à la liste des tables </a> </button>

        </div>
          
                       

    </div>

{% endblock %}