{% extends "base.html.twig" %}

{% block title %}Modifier les informations de la table numero  {{table.Numero}}  {% endblock %}


{% block body %}
    

    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            <h4>Ajouter un nom à votre table  </h4>
            {{form_start(createResto)}}
                {{form_row(createResto.nom, {'attr' : {'placeholder':'Nom de la table'}}) }}
                
                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Mettre à jour
             
                </button>

            
            
            {{form_end(createResto)}}
                          
               <button class=btn btn-secondary btn-block> <a href ='{{path('app_ajouter_tables',{'restaurant':table.restaurant} }}'> Retourner à la liste des tables </a> </button>

        </div>
          
                       

    </div>

{% endblock %}