{% extends "base.html.twig" %}

{% block title %}Ajouter restaurants{% endblock %}


{% block body %}
    

    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            {{form_start(nbresTables)}}
                {{form_row(nbresTables.nombresTables)}}
                

                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Ajouter
             
                </button>
            
            {{form_end(nbresTables)}}
                          
                  

        </div>

        {% for tables in totalTables %}
            <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                

                
                <tr>
                    <td>Surface habitable</td>
                    <td>{{tables.id}} m²</td>
                </tr>
                <tr>
                    <td>Surface habitable</td>
                    <td>{{tables.nom}} m²</td>
                </tr>


                <tr>

                    <td>Pièces</td>
                    <td>{{tables.Numero}} </td>  
                </tr>

                <tr>

                    <td>Chambres</td>
                   <td> {{property.floor}}</td>
                </tr>

                <tr>

                    <td>Etages</td>
                    <td>{{property.floor}}   
                </tr>
                  
  
  
  
        {% endfor %}
          
                       

    </div>

{% endblock %}