{% extends "base.html.twig" %}

{% block title %}Ajouter restaurants{% endblock %}


{% block body %}
    
    <h3 class="mt-5 ml-20">Vous avez  {{totalTables | length}}   Tables </h3>

    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            {{form_start(nbresTables)}}
                {{form_row(nbresTables.nombresTables)}}
                

                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Ajouter
             
                </button>
            
            {{form_end(nbresTables)}}
                          
                  

        </div>

           <div class="row">
        
        
            <div class="col-md-8 mt-5 mx-auto" >
            <table class="table table-striped mx-auto">
  <thead>
    <tr>
      <th >id</th>
      <th >Nom</th>
      <th >Numero de table</th>
      <th >Actions</th>

    </tr>
  </thead>
  
  <tbody>
 
    <tr>
     {% for tables in totalTables %}
      <td>{{tables.id}}</td>
      {% if tables.Nom == null %}
      <td>Aucun Nom de table</td>
      {% else %}
        
        <td>{{tables.Nom}}</td>
  
      {% endif %}
      <td>{{tables.Numero}}<td>
      <td><a href =""> Editer </a> |<a href =""> Supprimer </a>  <td>

    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
        
          
                       

    </div>

{% endblock %}