{% extends "base.html.twig" %}

{% block title %}Ajouter restaurants{% endblock %}


{% block body %}
    
    <h3 class="mt-5 ml-20">Vous avez  {{totalTables | length}}   Tables </h3>

    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            {{form_start(nbresTables)}}
                {{form_row(nbresTables.nombresTables)}}
                

                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Ajouter
             
                </button>
            
            {{form_end(nbresTables)}}
                          
                  

        </div>

           <div class="row">
        
        
            <div class="col-md-8 mt-5 mx-auto" >
            <table class="table table-primary">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Numero de table</th>
  {% for tables in totalTables %}
  <tbody>
   
  </tbody>
  {% endfor %}
</table>
</div>
        {% if tables.Nom == null %}
      <td>Aucun Nom de table</td>
      {% else %}
        
        <td>{{tables.Nom}}</td>
  
      {% endif %}
          
                       

    </div>

{% endblock %}