{% extends "base.html.twig" %}

{% block title %}Uploads Tables{% endblock %}


{% block body %}
    

    <div class="row  mt-5 ">
        
        <h1>BIENVENUE AU RESTAURANT {{restaurant}} Vous êtes à la table {{restaurantId}}
                  

        </div>
</br>
           
            <table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Numero de table</th>
      <th scope="col"></th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
   {% for tables in totalTables %}
  <tbody>
  
    <tr>
      <th scope="row">{{tables.id}}</th>
      {% if tables.Nom == null %}
      <td>Aucun Nom de table</td>
      {% else %}
        
        <td>{{tables.Nom}}</td>
  
      {% endif %}
      <td>{{tables.Numero}}<td>
       <td><a href="{{path('app_edit_tables',{'id':tables.id})}}">Editer</a> </br> <a href="#"> Supprimer </a></td>
    </tr>
    
  </tbody>
  {% endfor %} 
    
</table>


{% endblock %}